/*
	Adds cosmetic styling to cbt.  Users may swap with a custom theme CSS file.

*/

@import url("checkbox.css");

/*
@import url("expandoIconOpen.css");
@import url("expandoIcon.css");
*/

.claro .dijitAccordionInnerContainerSelected {
    border-color: #759dc0;
    border-color: #c7c7c7;
    border-color: #e2e2e2;
    background-color: #cfe5fa;
    background-color: #cacaca;
}
.claro .dijitAccordionContainer .dijitAccordionChildWrapper {
    /*background-color: #ffffff;
    border: 1px solid #759dc0;
    margin: 0 2px 2px;*/
    border-color: #aaa;
}
.claro .dijitAccordionInnerContainerHover {
    /*border: 1px solid #759dc0;*/
    border-color: #759dc0;
    border-color: #c7c7c7;
    border-color: #C0C0C0;
    background-color: #abd6ff;
    background-color: #cfe5fa;
    background-color: #BBB;
}
